.toastList {
  width: 25vw;
  height: fit-content;
  max-height: 100vh;
  margin-bottom: 10px;

  padding: 0 20px 0 0;

  position: fixed;
  z-index: 20;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;

  overflow-y: scroll;
}

.toastList::-webkit-scrollbar {
  display: none;
}
