@use "@/styles/variables/font-variables" as t;
@use '@/styles/variables/color-variables.scss' as c;

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: c.$primary solid 5px;
  outline: none;
  border-radius: 6px;
  overflow: hidden;
  gap: 8px;
  white-space: nowrap;
  @include t.label-small;
  color: c.$light;

  &.loading > .text {
    color: transparent;
  }

  & .text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.tiny {
    padding: 8px 16px;
    //   @include t.button-400;
  }

  &.small {
    padding: 8px 14px;
    //   @include t.button-300;
  }

  &.medium {
    padding: 10px 16px;
    border-radius: 8px;
    //   @include t.button-200;
  }

  &.large {
    padding: 10px 60px;
    border-radius: 8px;
    @include t.button-large;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    pointer-events: none;
  }
}

.hover:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.55);
}