@use "@/styles/variables/color-variables.scss" as c;
@use "@/styles/variables/font-variables.scss" as t;
@use "@/styles/variables/shadow-variables.scss" as sh;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin icon-button-main-style($color) {
  background: c.dark(c.$blue, 1);
  color: $color;

  transition: background-color 0.2s ease;

  &.loading > .text {
    color: transparent;
  }

  &:hover {
    cursor: pointer;
    background: c.dark(c.$blue, 2);
  }

  &:active {
    background: c.dark(c.$blue, 3);
  }

  &.outline-false {
    outline: none;
  }

  &.disabled {
    pointer-events: none;
    background-color: c.dark(c.$blue, 3);
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 2px;
  border-radius: 4px;
  outline-offset: -1px;

  &.primary {
    @include icon-button-main-style(c.$primary);
  }

  &.medium {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
  }

  & .loader {
    animation: spin 1s linear infinite;
  }
}