@mixin button-large {
    font: normal 350 50px / 130% 'AmikoRegular';
    letter-spacing: 0.01em;
}

@mixin label-medium {
    font: normal 350 25px / 130% 'AmikoRegular';
    letter-spacing: 0.01em;
}

@mixin label-small {
    font: normal 350 20px / 130% 'AmikoRegular';
    letter-spacing: 0.01em;
}


@mixin label-extra-small {
    font: normal 350 12px / 130% 'AmikoRegular';
    letter-spacing: 0.01em;
}