@use "@/styles/variables/color-variables.scss" as c;
@use "@/styles/variables/font-variables.scss" as t;
@use "@/styles/variables/background-variables.scss" as b;
@use "@/styles/mixins/scrollbar-mixin.scss" as scrollbar;
@use "sass:color";

.input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  //border: c.$primary solid 5px;
  border: none;
  color: c.$light;
  resize: none;

  @include scrollbar.scrollbar-style;
  @include b.dark-overlay-background;
}

.input::placeholder {
  color: c.$light;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  opacity: 0.8;
  cursor: pointer;
}

.label {
  @include t.label-small;
}

.inputContainer {
  position: relative;
  display: flex;
}

.maxLength {
  position: absolute;
  right: 8px;
  bottom: 6px;
  
  color: color.mix(c.$primary, #000);
  @include t.label-extra-small;
}