@use "@/styles/variables/color-variables.scss" as c;
@use "@/styles/variables/font-variables.scss" as t;
@use "@/styles/variables/background-variables.scss" as b;

.input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: c.$primary solid 5px;
  color: c.$light;

  @include b.dark-overlay-background;
}

.input::placeholder {
  color: c.$light;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  opacity: 0.8;
  cursor: pointer;
}

.label {
  @include t.label-small;
}