.main {
    height: 100vh;
    max-height: 100%;
    display: grid;
    position: relative;
    overflow: hidden;
}

.mainContent {
    padding: 10px;
    display: grid;
    grid-template-columns: 300px 22px auto 22px 300px;
    z-index: 1;
    max-height: 100vh;

    position: relative;
}

.lineWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: grab;
}

@media (max-width: 768px) {
    .mainContent {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        grid-template-columns: 90% 90% 90%;
        gap: 10px;

        &::-webkit-scrollbar {
            display: none;
        }

        & > * {
            scroll-snap-align: center;
        }
    }

    .lineWrapper {
        display: none;
    }
}