.main {
    height: 100vh;
    max-height: 100%;
    display: grid;
    position: relative;
    overflow: hidden;
}

.mainContent {
    padding: 10px;
    display: grid;
    grid-template-columns: 300px auto 300px;
    gap: 10px;
    z-index: 1;
    max-height: 100vh;

    position: relative;
}