@use "@/styles/variables/color-variables.scss" as c;

.recentSectionWrapper {
  display: flex;
  height: 100%;
  width: 100%;

  color: c.$light;

  background: c.dark(c.$primary, 1);
  border-radius: 10px;

  padding: 10px;
}