@use "@/styles/variables/color-variables.scss" as c;
@use "@/styles/mixins/scrollbar-mixin.scss" as scrollbar;

.recentSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 100%;
  width: 100%;

  color: c.$light;

  background: c.dark(c.$primary, 1);
  border-radius: 10px;

  padding: 10px;

  overflow-y: auto;
  @include scrollbar.scrollbar-style(c.dark(c.$blue, 3));

  & > p {
    width: 100%;
    text-align: center;
  }
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}