@use "@/styles/variables/color-variables" as c;
@use "@/styles/variables/font-variables" as t;
@use "sass:color";

.toast {
  padding: 8px 20px 12px;

  display: flex;
  gap: 12px;
  align-items: start;

  background: c.dark(c.$blue, 3);
  border-radius: 10px;
  animation: toast-in-bottom 400ms;

  &.small {
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }
}

.icon {
  display: flex;
}

.toastInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > .small {
    font-size: 16px;
    color: c.$light;
  }
}

.closeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: c.$primary;

  &:hover {
    color: c.light(c.$primary, 2);
    cursor: pointer;
  }
}

@keyframes toast-in-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
