@use "@/styles/variables/color-variables.scss" as c;

.mainSectionWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  background: c.$primary;
  border-radius: 10px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.generalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 500px;
  text-align: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;

  & > h1 {
    color: c.$light;
  }
}

.footer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  gap: 8px;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;

  & > .textarea {
    width: 100%;

    & textarea {
      padding-right: 60px;
    }
  }

  & > .sendButtonWrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;

    & > .sendButton {
      z-index: 10;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }
}

.trelloButton {
  background: c.dark(c.$blue, 1);
  color: c.$dark-blue;
  border-radius: 10px !important;

  transition: background-color 0.2s ease;

  font-size: 17px;

  &:hover {
    cursor: pointer;
    background: c.dark(c.$blue, 2);
  }

  &:active {
    background: c.dark(c.$blue, 3);
  }

  &.disabled {
    pointer-events: none;
    background-color: c.dark(c.$blue, 3);
  }
}