.mainSectionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  max-width: 500px;
}